/* .container{
    display: flex;
    width: 85%;
    height: 500px;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.98);
    color: #fff;
    position: relative;
    
} */

