.header{
    background: linear-gradient(90deg, #1877F2 0%, #00DDD7 100%);
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.title-nav{
    position: relative;
    /* left: 5rem; */
    font-size: 1rem;
    /* margin-left: 15px; */
    cursor: pointer;
}

.nav h1{
    color: #FFFFFF;
}

.input-total {
    /* display: none; */
    visibility: hidden;
    margin-bottom: 12px;
}

.input-total.visible{
    visibility: visible;
    /* display: block; */
}

.input{
    width: 20rem;   
    padding: 7px 0px 7px 8px;
    background: linear-gradient(180deg, rgba(215, 215, 215, 0.6) 0%, rgba(232, 232, 232, 0.6) 0.01%, rgba(255, 255, 255, 0.6) 100%);
    border: 2px solid;
    border-radius: 40px 0 0 40px;
    border-color: #FFFFFF rgba(255, 255, 255, 0.6) #FFFFFF #FFFFFF;  
}

.input:focus{
    outline: none;
    border: 2px solid #999;
    /* border: 2px solid gray; */
}

.btn-nav{
    padding: 6px 10px 8px 8px;
    border-radius: 0 40px 40px 0;
    border: 1px solid;
    border-color: #FFFFFF #FFFFFF #FFFFFF transparent;
    cursor: pointer;
}

.nav-links {
    /* position: relative;
    right: 5rem;     */
    top: 5px;
    display: flex;
    gap: 1.5rem;
}

.nav-links_child {
    color: #fff;
    text-decoration: none;
} 

.active1 {
    color: none;
    /* color: #03001C; */
}

/* .menu-user {
    visibility: hidden;
    position: absolute;
    right: 1.4rem;
    width: 260px;
    height: 260px;
    border-radius: 5px;
    background: #EAEAEA;

    color: #000;
    transition: top 0.3s ease-in-out;
    z-index: 1;
    border: 2px solid black;
}

.menu-user.open {
    visibility: visible;
    top: 68px;
} */

.img-nav{
    width: 3rem;
    position: absolute;
    top: 10px;
    right: 1rem;
    border-radius: 100%;
    border: 2px solid #fff;
    margin-top: 3px;
    cursor: pointer;
}

.btns-menu{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    position: absolute;
    bottom: 1rem;
}

.btns-menu button{
    padding: 0.60rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    color: #111;
    background: linear-gradient(90deg, #1877F2 0%, #00DDD7 100%);
    border: 2px solid #111;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
} 

.btns-menu button:hover{
    background: linear-gradient(45deg, #1877F2 0%, #00DDD7 100%); 
    border: 2px solid #00DDD7;
}

.menu-user h3{
    color: #000;
    text-align: center;
    margin-bottom: 5px;
    /* outline: 3px solid red; */
}

.text-menu{
    text-align: center;
    margin-top: 0px;
    /* outline: 3px solid red; */
}

.icon-bars {
    display: none; /* Oculta el icono de FaBars */
}

  
  @media (max-width: 800px) {
    .input-total {
        display: none;
    }
    
    .input-total.visible{
        display: block;
    }

    .input{
        width: 18rem;   
    }

    .btn-nav{
        border: 1.3px solid;
        padding: 7px 10px 8px 8px;
        border-color: #FFFFFF #FFFFFF #FFFFFF transparent;
    }
  
    .img-nav{
        top: 3px;
        right: 3px;
    }

    .nav-links {
        display: none; /* Oculta los enlaces por defecto */
    }
    
    .icon-bars {
        display: block; /* Muestra el icono de FaBars */
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 1.3rem;
        color: #fff;
        border: 2px solid #fff;
        padding: 4px;
        border-radius: 4px;
    }
    
    /* Estilos adicionales para el menú desplegable */
    .nav-links.open {
        display: block;
        position: absolute;
        top: 50px; /* Ajusta la posición vertical según tus necesidades */
        right: 10px;
        background-color: #181818;
        border: 2px solid #ccc; /* Agrega un borde al menú */
        padding: 10px; /* Espacio alrededor de los enlaces */
        z-index: 1;
        text-align: center;
        border-radius: 10px;
    }
  }

  @media (max-width: 600px) {
    .nav {
      flex-direction: column;
      align-items: center;
    }

    .title-nav{
        left: 0px;
        /* outline: 3px solid red; */
    } 

    .menu-user {
        width: 220px;
    }

    .menu-user p{
        font-size: 14px;
        margin-top: -10px;
    }

    .btns-menu button {
        font-size: 12px;
    }

    .text-menu{
        margin-left: 10px;
    }

    .nav-links {
        display: none; /* Oculta los enlaces por defecto */
    }

    .nav-links.open {
        width: 100px;
    }

}